#attending
	+box-shadow(0px, 0px, 20px, rgba(0,0,0,0.5))
	:-webkit-perspective 650
	:z-index 4
	:min-height 800px
	:position relative
	:background url(/images/attending.png)

	article
		:width 33.33333333%
		:float left
		:min-height 790px
		:z-index 9
		:position relative

		:background-position center bottom
		:background-repeat no-repeat

		&:hover
			:z-index 10

			.applynowbtn
				+buttonStyle(#B20000)

		h1
			:color #fff
			:font-size 2em
			:margin 0px 0px 30px 0px
			:padding-top 100px
			:text-align center
			+text-shadow(1px, 1px, 5px, #000)

		p
			:color #fff
			:font-size 1em
			:padding 0px 30px
			:text-align justify
			:text-indent 30px
			+text-shadow(0px, 0px, 1px, #000)

		.applynowbtn
			:position relative
			:text-decoration none
			:display inline-block
			:margin 0px auto
			+buttonStyle(#933333)

		.center
			:padding-top 20px


		&.designer
			:background-image url(/images/emeza_lemon_gs.png)

		&.designer:hover
			:background-image url(/images/emeza_lemon.png)

		&.entrepreneur
			:background-image url(/images/business_gs.png)

		&.entrepreneur:hover
			:background-image url(/images/business.png)

		&.programmer
			:background-image url(/images/developer_gs.png)

		&.programmer:hover
			:background-image url(/images/developer.png)