body > footer
	h1,h2,h3,h4,h5,h6
		:margin-top 0px
		:padding-top 15px

	:border-top 2px solid $treeroot
	:background-image linear-gradient(to bottom, $treeroot,rgba($treeroot, 0.5) 100%)
	:margin-top -3px
	:padding-bottom 70px
	:padding-top 50px

	.wrapper
		+clearfix

	ul
		:list-style none
		:margin 0 0 10px 0
		:padding 0
		li
			:margin 0
			:padding 2px 0px
			a
				font-size: 1.2em


	.column
		+column(3)
		:font-size 1em

	.column h2:first-child
		:padding-top 0px

.fb-like-box
	background: lighten($treeroot, 40%)